body {
  margin-bottom: 30px;
  padding: 0;
  font-family: sans-serif;
  font-size: 20px;
  line-height: 24px;
}

img {
  object-fit: cover;
  width: 100%;
}

dt {
  font-weight: bold;
}

h1 {
  font-size: 44px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  line-height: 60px;
}

h2 {
  font-size: 30px;
  /* margin-top: 23px;
  margin-bottom: 23px; */
}

h3 {
  font-size: 24px;
  margin-top: 23px;
  margin-bottom: 23px;
}

dd {
  margin-left: 0;
  padding-bottom: 10px;
}

button {
  font-size: 20px;
  padding: 1px 7px 2px 7px;
}

span {
  color: red;
}
